/***************************************************************************
 * ESTILOS de admin-product-entries.php  
 * 
 */

    /*** ESTILOS DE admin-product-entries.php ***/
  

    .select-arriba
    {
        margin-left: 50px;
        float: left;
    }
    .imagen 
    {
        margin-left: 0px; 
        margin-top: 20px; 
        margin-bottom: 20px; 
    }
    .caja-de-botones
    {
        border-color: #7E7F6D; 
        border-style: solid; 
        border-width: 1px; 
        border-radius: 3px;
    }
    .link-flecha
    {
        text-decoration: none; 
    }
    #ant:hover
    {
        color: #3F4036; 
        background-color: #BCBFA3;
    }
    #sig:hover
    {
        color: #3F4036; 
        background-color: #BCBFA3;
    }
    #status_select
    {
        margin-left: 10px;
        border-color: #7E7F6D; 
        border-style: solid; 
        border-width: 1px; 
        border-radius: 3px;
        background-color: #E2E5C4;
        height: 25px;
        width: 90px;
        cursor: default;
        font-size: 12px; 
    }
    #exposicion_ml_select
    {
        margin-left: 5px;
        border-color: #7E7F6D; 
        border-style: solid; 
        border-width: 1px; 
        border-radius: 3px;
        background-color: #E2E5C4;
        height: 25px;
        width: 90px;
        cursor: default;
        font-size: 12px; 
        padding-left: 10px;
    }
    #dg
    {   
        padding-left: 0px;
    }
        #boton_dg, .boton_dg
        {
            float: left;
            margin-left:0px; 
            padding-left: 3px;
            background-color:#E2E5C4; 
            height: auto; 
            width: auto; 
            border-style: solid; 
            border-color: #7E7F6D; 
            border-radius: 3px;
            border-width: 1px;
            font-size: 12px;
            text-decoration: none;
            cursor: pointer;
        }
        #boton_dg:hover, .boton_dg:hover
        {
            border-color: #7E7F6D;
            background-color: #BCBFA3;
        }
        #boton_dg:active, .boton_dg:active
        {
            border-color: #3F4036;
            background-color: #BCBFA3;
        }
    #keyword_input
    {
        margin-right: 2 px;
        width: 240px; 
        height: 25px;
        border-radius: 3px 0px 0px 3px; 
        border-color: #7E7F6D;
        float: right;
    }
    #keyword_input:hover
    {
        border-color: #7E7F6D;
    }
    #keyword_input:active
    {
        border-color: #3F4036;
    }
    #boton_buscar
    {
        background-color:#E2E5C4; 
        height: 25px; 
        width: 48px; 
        border-style: solid; 
        border-color: #7E7F6D; 
        border-radius: 0px 3px 3px 0px;
        float: right;
        }
        #boton_buscar:hover
        {
            border-color: #7E7F6D;
            background-color: #BCBFA3;
        }
        #boton_buscar:active
        {
            border-color: #3F4036;
            background-color: #BCBFA3;          
        }
    #tabla
    {            
        font-family: sans-serif; 
        font-size: 10px;
        width: 100%;
    }
    td .input
    {
        width: 50px; height: 25px;
        border-radius: 3px; 
        border-color: #7E7F6D;
    }
        td .input:hover
        {
            height: 25px; 
            background-color: #fff;
            border-color: black;
            border-color: #7E7F6D;
        }

    /* Onboarding Styles *******************************************************************************/
    .elemento_active
    {
        border-color: #ADB2FF;
        border-style: solid;
        border-width: 4px;
        border-radius: 5px;
        background-color: #ADB2FF;
        color: black;
        cursor: pointer;
    }
    .onb_flotante 
    {
        display: none;
        width: 35%;
        height: auto;
        border-color:#707070;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        background-color: #FBFBFB;  
        color :#000000;
        font-size: 20px;
        text-align: center;
        z-index: 10;
        position: absolute;
        margin-top: -15%;
        margin-left: 30%;
        padding: 30px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    }
    .boton_onb
    {
        margin-top: 20px;
        font-size: 20px;
        background-color: #B82053;
        border-color: #540C24;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        color: white;
        padding: 10px;
        padding-left: 30px; padding-right: 30px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
        .boton_onb:hover
        {
            background-color: #9C1B46;
        }
    /* Spinner */
    .loader_onb
    {
        display: none;
        position: absolute;
        margin-top: 20%;
        margin-left: 45%; margin-right: auto;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #E2E5C4;
        border-bottom: 16px solid #E2E5C4;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    @-webkit-keyframes spin 
    {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin 
    {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    /* End spinner */

/********************************************************************/
/********************************************************************/




