/* ESTILOS de admin-product-entries.php 
 * admin-product-entries.css 
 * 
 */

    .select-arriba
    {
        margin-left: 50px;
        float: left;
    }
    .filtro
    {
        text-align: right;
    }

    