/***************************************************************************
 * ESTILOS de admin-product-entries.php  
 * 
 */

    /*** ESTILOS DE admin-product-entries.php ***/
  

    .select-arriba
    {
        margin-left: 50px;
        float: left;
    }
    .imagen 
    {
        margin-left: 0px; 
        margin-top: 20px; 
        margin-bottom: 20px; 
    }
    .caja-de-botones
    {
        border-color: #7E7F6D; 
        border-style: solid; 
        border-width: 1px; 
        border-radius: 3px;
    }
    .link-flecha
    {
        text-decoration: none; 
    }
    #ant:hover
    {
        color: #3F4036; 
        background-color: #BCBFA3;
    }
    #sig:hover
    {
        color: #3F4036; 
        background-color: #BCBFA3;
    }
    #status_select
    {
        margin-left: 10px;
        border-color: #7E7F6D; 
        border-style: solid; 
        border-width: 1px; 
        border-radius: 3px;
        background-color: #E2E5C4;
        height: 25px;
        width: 90px;
        cursor: default;
        font-size: 12px; 
    }
    #exposicion_ml_select
    {
        margin-left: 5px;
        border-color: #7E7F6D; 
        border-style: solid; 
        border-width: 1px; 
        border-radius: 3px;
        background-color: #E2E5C4;
        height: 25px;
        width: 90px;
        cursor: default;
        font-size: 12px; 
        padding-left: 10px;
    }
    #dg
    {   
        padding-left: 0px;
    }
        #boton_dg, .boton_dg
        {
            float: left;
            margin-left:0px; 
            padding-left: 3px;
            background-color:#E2E5C4; 
            height: auto; 
            width: auto; 
            border-style: solid; 
            border-color: #7E7F6D; 
            border-radius: 3px;
            border-width: 1px;
            font-size: 12px;
            text-decoration: none;
            cursor: pointer;
            margin-bottom: 5px;
        }
        #boton_dg:hover, .boton_dg:hover
        {
            border-color: #7E7F6D;
            background-color: #BCBFA3;
        }
        #boton_dg:active, .boton_dg:active
        {
            border-color: #3F4036;
            background-color: #BCBFA3;
        }
    #keyword_input
    {
        margin-right: 2 px;
        width: 240px; 
        height: 25px;
        border-radius: 3px 0px 0px 3px; 
        border-color: #7E7F6D;
        float: right;
    }
    #keyword_input:hover
    {
        border-color: #7E7F6D;
    }
    #keyword_input:active
    {
        border-color: #3F4036;
    }
    #boton_buscar
    {
        background-color:#E2E5C4; 
        height: 25px; 
        width: 48px; 
        border-style: solid; 
        border-color: #7E7F6D; 
        border-radius: 0px 3px 3px 0px;
        float: right;
        }
        #boton_buscar:hover
        {
            border-color: #7E7F6D;
            background-color: #BCBFA3;
        }
        #boton_buscar:active
        {
            border-color: #3F4036;
            background-color: #BCBFA3;          
        }

    #registros
    {
        box-sizing: border-box;
        display: block;
        color: 13px;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 13px;
        line-height: 18px;
        /*overflow: scroll; /* --por ver--*/
    }
    #tabla
    {
        margin-left: 0px;
        table-layout: fixed;
        margin-bottom: 10px;
        word-wrap: break-word;
        width: 98%;
        border-collapse: collapse;
        margin: 0 auto;
        max-width: 100%;
        overflow: auto;
        max-height: 20vh;
        background-color: transparent;  
        border-spacing: 0;
        box-sizing: border-box;
        display: table;
        border-color: grey;
        color: #333;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 13px;
        line-height: 18px;
        -webkit-tap-highlight-color: transparent;
    }
    #thead_productos
    {
        width: 100%;
        overflow: hidden;
        display: block; /* Cambie block por table */
        background-color: #FDC323; /*retirar*/
        position: relative;
        box-sizing: border-box;
        vertical-align: middle;
        border-color: inherit;
        border-collapse: collapse;
        border-spacing: 0;
        color: #333;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 13px;
        line-height: 18px;
        -webkit-tap-highlight-color: transparent;
    }
    #thead_productos::after
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 50%;
        width: 300%;
        background-color: rgba(255,255,255,0.2);
    }
    #thead_productos::before
    {
        box-sizing: border-box;
    }
    #tbody_productos
    {
        overflow: auto; /* Me deja pensando */
        min-height: 0px;
        width: 100%;
        height: 60vh;
        display: block;
        box-sizing: border-box;
        vertical-align: middle;
        text-align: center;
        borde-color: inherit;
        border-collapse: collapse;
        border-spacing: 0;
        color: #333;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 13px;
        line-height: 18px;
        -webkit-tap-highlight-color: transparent;
    }
    #tabla th
    {
        text-align: left;
        padding: 15px, 15px;
        min-width: 164px;
        max-width: 164px;
        width: 164px;
        font-size: 11px;
        display: table-cell; 
        vertical-align: middle;/* cambie bottom por middle */
        border-bottom: 2px solid #ddd; 
        line-height: 1.428571429;
        border-top: none;
        box-sizing: border-box;
        font-weight: bold;
        border-collapse: collapse;
        border-spacing: 0;
        color: #333;
        font-family: verdana, arial, helvetica, sans-serif;
        -webkit-tap-highlight-color: transparent;
    }
    #tabla td
    {
        text-align: left;
        padding: 15px 15px;
        min-width: 164px;
        max-width: 164px;
        width: 164px;
        display: table-cell;
        line-height: 1.428572429;
        vertical-align: middle; /* cambie top por middle */
        overflow: auto; /* Oculta todo lo que se desborda en las celdas del body : Temporalemte lo dejo con valor de auto*/
        border-top: none;
        border-left: none;
        margin: 0;
        font-family: 'Arial';
        font-size: 11px;
        box-sizing: border-box;
        border-collapse: collapse;
        border-spacing: 0;
        -webkit-tap-highlight-color: transparent;
    }
    #tabla tr
    {
        box-sizing: border-box;
        display: table-row;
        vertical-align: inherit;
        border-collapse: collapse;
        border-spacing: 0;
        color: #333;
        font-family: verdana, arial, helvetica, sans-serif;
        font-size: 11px;
        line-height: 18px;
        -webkit-tap-highlight-colot: transparent;
    }
    /* Onboarding Styles *******************************************************************************/
    .elemento_active
    {
        border-color: #ADB2FF;
        border-style: solid;
        border-width: 4px;
        border-radius: 5px;
        background-color: #ADB2FF;
        color: black;
        cursor: pointer;
    }
    .onb_flotante 
    {
        display: none;
        width: 35%;
        height: auto;
        border-color:#707070;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
        background-color: #FBFBFB;  
        color :#000000;
        font-size: 20px;
        text-align: center;
        z-index: 10;
        position: absolute;
        margin-top: -15%;
        margin-left: 30%;
        padding: 30px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    }
    .boton_onb
    {
        margin-top: 20px;
        font-size: 20px;
        background-color: #B82053;
        border-color: #540C24;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        color: white;
        padding: 10px;
        padding-left: 30px; padding-right: 30px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
        .boton_onb:hover
        {
            background-color: #9C1B46;
        }
    /* Spinner */
    .loader_onb
    {
        z-index: 100;
        display: none;
        position: absolute;
        margin-top: 20%;
        margin-left: 45%; margin-right: auto;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #E2E5C4;
        border-bottom: 16px solid #E2E5C4;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    @-webkit-keyframes spin 
    {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin 
    {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    /* End spinner */

/********************************************************************/
/********************************************************************/




